---
---

/* Header

@media only screen and (min-width: 768px) and (max-width: 1109px)
  header[role="banner"] h1
    padding-top: 0px

@media only screen and (max-width: 420px)
  header[role="banner"] h1
    font-size: 2.3em

/* Main

div[role="main"]
  ol, ul
    margin-left: 0px

  pre.highlight
    background-color: #f5f5f5
    padding: 5px

/* Buttons

.button
  display: inline-block
  background: rgb(211, 0, 0)
  white-space: nowrap
  padding: 9px 16px !important
  line-height: 1.4
  border: 0
  position: relative
  &, &:focus, &:visited
    color: #fff
  &:hover
    color: #DDD
    text-decoration: none

.slack-button
  margin-bottom: 1em

.slack-button .button
  background: #4D394B

/* Past events sidebar

.past-events
  &[role="complementary"] h2
    margin-bottom: 15px
    font-size: 1.3em
  ol
    margin-bottom: 0px
    li
      a
        color: #ddd
        font-size: 16px
      a:hover
        color: rgb(23,119,175)
  li.past-link
    margin-top: 15px
    font-weight: bold

/* Current event sidebar

.event
  p:last-child
    margin-bottom: 0px
  &[role="complementary"] h2
    font-size: 1.3em
    color: rgb(211, 0, 0)
    margin-bottom: 0px
  &[role="complementary"] h3
    font-size: 1.1em
    margin-bottom: 15px
  &[role="complementary"] p
    font-size: 16px
    color: #fff
  dl
    margin-bottom: 0px
  .meetup-button
    display: block
    margin-top: 1.5em
    margin-bottom: 0px

/* Description lists

dl
  dt
    font-weight: bold
  &.inline
    dt
      float: left
    dd
      display: block
      padding-left: 90px
      margin: 0px

/* Quotes */

blockquote
  margin-left: 0
  border-left-width: 2px
  padding-left: .5em
  &, p
    margin-bottom: 15px

/* Meetings list

.meetings .meeting-date
  margin-bottom: 0px

.meeting-details dl
  font-size: 1.2em
  margin-bottom: 15px
  dd
    padding-left: 100px

.buttons, .meeting-title
  margin-bottom: 15px

/* Sponsors

.sd-background
  background-color: #232a4f
  padding: 20px

/* Footer

footer
  dl
    margin-bottom: 0px
  ul#links dl.inline dd
    padding-left: 120px
  dl
    dt, dd
      font-size: 0.9em

ul#sponsors
  li.text, ul.sponsor-list
    font-size: 0.9em
  li ul.sponsor-list
    margin-left: 1.5em
    padding-bottom: 0px
    width: 100%
    list-style: square
    li
      padding: 0px
