---
layout: default
---
<h2>Welcome to the Sheffield Ruby User Group.</h2>

<h3>Who are we?</h3>
<p>
  We're a group of people who are interested in Ruby, Rails and other tech/web/programming stuff.
</p>
<p>
  If you're new to Ruby or want to learn more about Rails then feel free to drop in.
</p>
<p>
  If you've got something to share and want to give a talk then <a href="mailto:hello@shrug.org">let us know!</a>
</p>

<h3>When and where do we meet?</h3>
{% if site.show_upcoming_event %}
<p>
  We meet on the second Monday of each month at
  <a href="{{ site.default_location_url }}">{{ site.default_location }}</a>.
</p>
<p>
  After each meeting we usually go to a local pub for a drink, some nibbles and a chat.
</p>
{% else %}
<p>
  <strong>Unfortunately, due to the ongoing Covid-19 pandemic in the UK, ShRUG is currently on an indefinite hiatus.</strong>
</p>
<p>
  Please keep an eye on our website and Twitter
  (<a href="https://twitter.com/@sheffieldruby">@sheffieldruby</a>)
  for details of future events.
</p>
<p>
  Please take care in the meantime, and we hope to see you all again soon!
</p>
{% endif %}
