{% capture site_date %}{{ site.time | date: '%d/%m/%Y' | date: '%s' }}{% endcapture %}

<div class="meetings">
  {% assign meeting_count = 0 %}
  {% for meeting in meeting_category %}
    {% capture meeting_date %}{{ meeting.date | date: '%s' }}{% endcapture %}
    {% if meeting_date < site_date %}
      {% capture this_year %}{{ meeting.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ meeting.next_in_category.date | date: "%Y" }}{% endcapture %}
      {% assign meeting_count = meeting_count | plus: 1 %}

      {% if meeting_count == 1 %}
        <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
      {% endif %}

      <h4 class="meeting-date">{{meeting.date | date: "%d/%m/%Y"}}</h3>
      <h4 class="meeting-title"><a href="{{meeting.url}}">{{meeting.title}}</a></h4>
      <p>{{ meeting.excerpt | strip_html }}</p>

      {% if this_year != next_year %}
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
