<dl class='inline'>
  <dt>Date:</dt>
  <dd>{{meeting_details.date | date: "%d/%m/%Y"}}</dd>

{% if meeting_details.hide_location != true %}
  {% assign meeting_location = meeting_details.location %}
  {% assign meeting_link = meeting_details.location_link %}
  {% assign meeting_addr = meeting_details.location_addr %}
  {% assign show_link = meeting_details.show_link %}
  {% assign show_addr = meeting_details.show_addr %}
  {% assign hide_location = meeting_details.hide_location %}
  {% capture location %}{% include meeting_location.html %}{% endcapture %}
  <dt>Location:</dt>
  <dd>{{ location | strip_newlines }}</dd>
{% endif %}

{% if meeting_details.time != null %}
  <dt>Time:</dt>
  <dd>{{meeting_details.time}}</dd>
{% endif %}
</dl>
