<!DOCTYPE html>

<!--
320 and Up boilerplate extension
Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup
-->

<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>Sheffield Ruby User Group</title>

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- For less capable mobile browsers
<link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">  -->

<!-- For all browsers -->
<link rel="stylesheet" href="/css/320andup.css?{{ site.time | date: '%s' }}">
<link rel="stylesheet" href="/css/shrug.css?{{ site.time | date: '%s' }}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- JavaScript at bottom except for Modernizr -->
<script src="/js/libs/modernizr-1.7.min.js"></script>

<!-- For iPhone 4 -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/h/apple-touch-icon.png">
<!-- For iPad 1-->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/m/apple-touch-icon.png">
<!-- For iPhone 3G, iPod Touch and Android -->
<link rel="apple-touch-icon-precomposed" href="/img/l/apple-touch-icon-precomposed.png">
<!-- For Nokia -->
<link rel="shortcut icon" href="/img/l/apple-touch-icon.png">
<!-- For everything else -->
<link rel="shortcut icon" href="/favicon.ico">

<!--iOS. Delete if not required -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-startup-image" href="img/splash.png">

<!--Microsoft. Delete if not required -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!--Open Graph and Twitter Card-->

<meta content='summary' name="twitter:card" />
<meta content='@sheffieldruby' name="twitter:site" />
{% if page.title %}
  <meta content="article" property="og:type" />
  <meta content="{{ site.title | xml_escape }}" property="og:site_name" />
  <meta content="{{ page.title | xml_escape }}" property="og:title" />
  <meta content="{{ page.title | xml_escape }}" name="twitter:title" />
  <meta content="{{ page.excerpt | strip_html | xml_escape }}" name="description" >
  <meta content="{{ page.excerpt | strip_html | xml_escape }}" property="og:description" />
  <meta content="{{ page.excerpt | strip_html | xml_escape }}" name="twitter:description" />
{% else %}
  <meta content="website" property="og:type" />
  <meta content="{{ site.title }}" property="og:site_name" />
  <meta content="{{ site.title }}" property="og:title" />
  <meta content="{{ site.title }}" name="twitter:title" />
  <meta content="{{ site.description | strip_html }}" name="description" />
  <meta content="{{ site.description | strip_html }}" property="og:description" />
  <meta content="{{ site.description | strip_html }}" name="twitter:description"/>
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  <meta content="{{ site.url }}{{ page.url }}" name="twitter:url" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
{% else %}
  <meta content="{{ site.url }}" property="og:url" />
  <meta content="{{ site.url }}" name="twitter:url" />
  <link rel="canonical" href="{{ site.url }}">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
{% endif %}
{% if page.author %}
  <meta content="{{ page.author }}" property="article:author" />
{% endif %}
{% if page.image %}
  <meta content="/img/srcset/{{ page.image }}" property="og:image" />
  <meta content="/img/srcset/{{ page.image }}" name="twitter:image" />
{% else %}
  <meta content="{{ site.url }}/img/shrug-logo-square.png" property="og:image" />
  <meta content="{{ site.url }}/img/shrug-logo-square.png" name="twitter:image" />
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
</head>

<body class="clearfix">

<header role="banner" class="clearfix">
  <a href="/" title="ShRUG"><h1>Sheffield&nbsp;Ruby User&nbsp;Group</h1></a>
</header>

{% capture site_date %}{{ site.time | date: '%d/%m/%Y' | date: '%s' }}{% endcapture %}

<div class="content clearfix">
{% if site.show_upcoming_event %}
  <div role="complementary" class="event">
    {% for meeting in site.categories.meetings reversed limit: 5 %}
      {% capture meeting_date %}{{ meeting.date | date: '%s' }}{% endcapture %}
      {% if meeting_date >= site_date %}
        {% assign next_meeting = meeting %}
        {% break %}
      {% endif %}
    {% endfor %}
    <h2>Next meeting:</h2>
    {% if next_meeting %}
      <h3><a href="{{next_meeting.url}}">{{next_meeting.title}}</a></h3>
      {% assign meeting_details = next_meeting %}
      {% assign show_addr = false %}
      {% assign show_link = false %}
      {% include meeting_details.html %}
    {% else %}
      <h3>Details of our next meeting are coming soon.</h3>
      <p>Keep an eye on <a href="http://twitter.com/sheffieldruby">@sheffieldruby</a> for more details!</p>
    {% endif %}
  </div>
{% endif %}

  <div role="main">
    {{ content }}
  </div>

  <div role="complementary" class="past-events">
    <h2>Past ShRUGs</h2>
    <ol>
      {% assign past_meeting_count = 1 %}
      {% for meeting in site.categories.meetings  %}
        {% capture meeting_date %}{{ meeting.date | date: '%s' }}{% endcapture %}
        {% if meeting_date < site_date %}
          {% assign past_meeting_count = past_meeting_count | plus: 1 %}
          <li><a href="{{meeting.url}}">{{meeting.date | date: "%d/%m/%Y"}} {{meeting.title}}</a></li>
        {% endif %}
        {% if past_meeting_count > 10 %}{% break %}{% endif %}
      {% endfor %}
      <li class="past-link"><a href="/meetings/">View all past ShRUGs</a></li>
    </ol>
  </div>

  <div role="complementary" class="past-events">
    <h2>Recorded Sessions</h2>
    <ol>
      {% assign past_meeting_count = 1 %}
      {% for meeting in site.categories.videos  %}
        {% capture meeting_date %}{{ meeting.date | date: '%s' }}{% endcapture %}
        {% if meeting_date < site_date %}
          {% assign past_meeting_count = past_meeting_count | plus: 1 %}
          <li><a href="{{meeting.url}}">{{meeting.date | date: "%d/%m/%Y"}} {{meeting.title}}</a></li>
        {% endif %}
        {% if past_meeting_count > 10 %}{% break %}{% endif %}
      {% endfor %}
      <li class="past-link"><a href="/videos/">View all recorded ShRUGs</a></li>
    </ol>
  </div>

</div>

<footer role="contentinfo" class="clearfix">
  <ul id="sponsors">
    <li class="title">Sponsors</li>
    <li class="text">Many thanks to our sponsors:</li>
    <li>
      <ul class="sponsor-list">
        <li><a href="/sponsors/epigenesys/">epiGenesys</a></li>
        <li><a href="/sponsors/sheffield-digital/">Sheffield Digital</a></li>
        <li><a href="/sponsors/union-st/">Union St</a></li>
      </ul>
    </li>
  </ul>
  <ul id="contactus">
    <li class="title">Contact ShRUG</li>
    <li>
      <dl class="inline">
        <dt>Twitter:</dt>
        <dd><a href="http://twitter.com/sheffieldruby/">@sheffieldruby</a></dd>
        <dt>Slack: <a href="/about/slack"><i class="fa fa-question-circle"></i></a></dt>
        <dd>
          <a href="https://sheffielddigital.slack.com/messages/sheffieldruby">#sheffieldruby</a>
        </dd>
        <dt>Email:</dt>
        <dd><a href="mailto:hello@shrug.org">hello@shrug.org</a></dd>
      </dl>
    </li>
  </ul>
  <ul id="links" class="last">
    <li class="title">Info</li>
    <li>
      <dl class="inline">
        <dt>Organised by:</dt>
        <dd><a href="https://twitter.com/b_seven_e">Eve&nbsp;Barabas</a> and <a href="https://twitter.com/jamgregory">James&nbsp;Gregory-Monk</a></dd>
        <dt>Site by:</dt>
        <dd><a href="https://twitter.com/JamesAlmond">James&nbsp;Almond</a></dd>
        <dt>ShRUG logo by:</dt>
        <dd>Mitchell&nbsp;Bryson</dd>
        <dt>Hosted on:</dt>
        <dd><a href="https://gitlab.com/groups/shruggers">GitLab</a></dd>
      </dl>
    </li>
  </ul>

</footer>

<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
<!-- Scripts -->
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/libs/DOMAssistantCompressed-2.8.js"></script>
<script src="js/libs/selectivizr-1.0.1.js"></script>
<script src="js/libs/respond.min.js"></script>
<![endif]-->

</body>
</html>
