---
layout: default
---

{% if page.title != null %}
  <h2 class="meeting-title">{{ page.title }}</h2>
{% endif %}

<div class="meeting-details">
  {% assign meeting_details = page %}
  {% include meeting_details.html %}
</div>

<div class="buttons">
{% if page.video %}
  {% include video_button.html %}
{% endif %}
</div>

{{ content }}
